<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71238170276-k1e6dtb2n9coq7pp5ddvkhd1eu8kp7d0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71238170276-k1e6dtb2n9coq7pp5ddvkhd1eu8kp7d0</string>
	<key>API_KEY</key>
	<string>AIzaSyDTu8KQ4sTkuraKGDB7_ZKiwfoy-It5RWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>71238170276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moviefinder.iosdev</string>
	<key>PROJECT_ID</key>
	<string>moviefinder-bbbaf</string>
	<key>STORAGE_BUCKET</key>
	<string>moviefinder-bbbaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71238170276:ios:2b6d6ed7d356db629e1831</string>
</dict>
</plist>